# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
xcuserdata/

# macOS
.DS_Store
*.swp
*~

# CocoaPods / SPM
Pods/
.build/

# Secrets & credentials
*.p12
*.mobileprovision
*.cer
GoogleService-Info.plist

# Archives
*.xcarchive

# Temporary files
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Claude Code
.claude/
